name: "Jampack"
description: "Action to run Jampack post-processing tool on given static assets."
author: Hoverkraft
branding:
  icon: package
  color: blue

inputs:
  path:
    description: "Path of the directory containing the static assets."
    required: true
    default: "."

runs:
  using: composite
  steps:
    - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0

    - id: npm-cache-dir
      shell: bash
      run: echo "dir=$(npm config get cache)" >> "$GITHUB_OUTPUT"

    - uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
      id: npm-cache
      with:
        path: ${{ steps.npm-cache-dir.outputs.dir }}
        key: ${{ runner.os }}-node-${{ github.run_id }}
        restore-keys: |
          ${{ runner.os }}-node-

    - shell: bash
      run: |
        # Install jampack globally
        npm install -g @divriots/jampack

    - uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
      with:
        path: "${{ runner.temp }}/.jampack"
        key: ${{ runner.os }}-jampack-${{ github.run_id }}
        restore-keys: |
          ${{ runner.os }}-jampack-

    - shell: bash
      run: |
        # Create a cache directory for Jampack
        mkdir -p "${{ runner.temp }}/.jampack/cache"

        # Run Jampack on the specified path
        npx @divriots/jampack --cache_folder "${{ runner.temp }}/.jampack/cache" "${{ inputs.path }}"

        # Clean up the Jampack cache directory
        rm -rf "${{ inputs.path }}/_jampack"
