---
name: Internal - Pull request - Continuous Integration

on:
  merge_group:
  pull_request:
    branches: [main]

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    uses: ./.github/workflows/__shared-ci.yml
    permissions:
      actions: read
      contents: read
      deployments: write
      statuses: write
      security-events: write
    secrets: inherit
