---
name: Internal - Common Continuous Integration tasks

on: # yamllint disable-line rule:truthy
  workflow_call:

permissions:
  actions: read
  contents: read
  deployments: write
  security-events: write
  statuses: write

jobs:
  linter:
    uses: hoverkraft-tech/ci-github-common/.github/workflows/linter.yml@a8d9ca49a0e025238acd97ee3c5014f4d6525bc3 # 0.31.5

  test-action-check-url-lighthouse:
    needs: linter
    uses: ./.github/workflows/__test-action-check-url-lighthouse.yml

  test-action-check-url-ping:
    needs: linter
    uses: ./.github/workflows/__test-action-check-url-ping.yml

  test-action-deploy-argocd-manifest-files:
    needs: linter
    uses: ./.github/workflows/__test-action-deploy-argocd-manifest-files.yml

  test-action-deploy-jekyll:
    needs: linter
    uses: ./.github/workflows/__test-action-deploy-jekyll-jampack.yml
    secrets: inherit

  test-action-deployment:
    needs: linter
    uses: ./.github/workflows/__test-action-deployment.yml
    secrets: inherit
