name: Internal - Tests for "deploy/argocd-manifest-files" action

on:
  workflow_call:

permissions: {}

jobs:
  tests:
    name: Tests for deploy/argocd-manifest-files action (${{ matrix.test-case }})
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        include:
          - test-case: sources array format
            test-dir: test-app
          - test-case: singular source format
            test-dir: test-app-single-source
    env:
      TEST_APPLICATION_TEMPLATE_FILE: tests/argocd-app-of-apps/ci/apps/ci-test/${{ matrix.test-dir }}/template.yml.tpl
      TEST_APPLICATION_FILE: tests/argocd-app-of-apps/ci/apps/ci-test/${{ matrix.test-dir }}/test-app.yml
      TEST_EXPECTED_APPLICATION_FILE: tests/argocd-app-of-apps/ci/apps/ci-test/${{ matrix.test-dir }}/expected.yml
      TEST_MANIFEST_TEMPLATE_FILE: tests/argocd-app-of-apps/ci/manifests/ci-test/${{ matrix.test-dir }}/template.yml.tpl
      TEST_MANIFEST_FILE: tests/argocd-app-of-apps/ci/manifests/ci-test/${{ matrix.test-dir }}/test-app.yml
      TEST_EXPECTED_MANIFEST_FILE: tests/argocd-app-of-apps/ci/manifests/ci-test/${{ matrix.test-dir }}/expected.yml
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Arrange - Create test manifest files
        run: |
          cp "$TEST_APPLICATION_TEMPLATE_FILE" "$TEST_APPLICATION_FILE"
          cp "$TEST_MANIFEST_TEMPLATE_FILE" "$TEST_MANIFEST_FILE"

      - name: Act - Deploy Argocd Application Manifest
        id: argocd-application-manifest
        uses: ./actions/deploy/argocd-manifest-files
        with:
          deployment-id: 999
          application-file: ${{ env.TEST_APPLICATION_FILE }}
          application-repository: test-app
          manifest-file: ${{ env.TEST_MANIFEST_FILE }}
          namespace: test-app-pr-100
          chart-name: test-app
          chart-repository: ghcr.io/my-org/test-app/charts
          chart-version: 1.0.0-rc.0-pr-100-abac0800
          chart-values: |
            [
              { "path": ".ingress.hosts[0].host", "value": "https://pr-100-test-app.my-org.com" }
            ]
          initiated-by: ci/test-user

      - name: Assert - Check generated files are valid YAML
        uses: mikefarah/yq@065b200af9851db0d5132f50bc10b1406ea5c0a8 # v4.50.1
        with:
          cmd: |
            echo "Check application file"
            yq "$TEST_APPLICATION_FILE" >/dev/null

            echo "Check extra manifest file"
            yq "$TEST_MANIFEST_FILE" >/dev/null

      - name: Assert - Check generated files are as expected
        run: |
          echo "Check application file"
          diff -u "$TEST_EXPECTED_APPLICATION_FILE" "$TEST_APPLICATION_FILE"

          echo "Check manifest file"
          diff -u "$TEST_EXPECTED_MANIFEST_FILE" "$TEST_MANIFEST_FILE"
