name: Internal - Tests for "deployment" actions

on:
  workflow_call:

permissions: {}

jobs:
  tests:
    name: Tests for "deployment" actions
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - id: create-deployment
        uses: ./actions/deployment/create
        with:
          environment: "review-apps"

      - name: Check create outputs
        run: |
          if [ -z "${{ steps.create-deployment.outputs.deployment-id }}" ]; then
            echo "Create deployment id output is not set"
            exit 1
          fi

      - id: get-deployment
        uses: ./actions/deployment/read
        with:
          deployment-id: ${{ steps.create-deployment.outputs.deployment-id }}
          repository: ${{ github.event.repository.name }}

      - name: Check get outputs
        run: |
          if [ -z "${{ steps.get-deployment.outputs.environment }}" ]; then
            echo "Get deployment environment output is not set"
            exit 1
          fi

          if [ "${{ steps.get-deployment.outputs.environment }}" != "review-apps" ]; then
            echo "Get deployment environment output is not 'review-apps': '${{ steps.get-deployment.outputs.environment }}'"
            exit 1
          fi

          if [ -z "${{ steps.get-deployment.outputs.url }}" ]; then
            echo "Get deployment url output is not set"
            exit 1
          fi

      - id: update-deployment
        uses: ./actions/deployment/update
        with:
          deployment-id: ${{ steps.create-deployment.outputs.deployment-id }}
          state: "in_progress"

      - uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        id: generate-token
        with:
          app-id: ${{ vars.CI_BOT_APP_ID }}
          private-key: ${{ secrets.CI_BOT_APP_PRIVATE_KEY }}

      - id: delete-deployment
        uses: ./actions/deployment/delete
        with:
          token: ${{ steps.generate-token.outputs.token }}

      - name: Check delete outputs
        run: |
          if [ -z "${{ steps.delete-deployment.outputs.deployment-ids }}" ]; then
            echo "Delete deployment ids output is not set"
            exit 1
          fi
