name: Internal - Tests for "check/url-lighthouse" action

on:
  workflow_call:

permissions: {}

jobs:
  tests:
    name: Tests for "check/url-lighthouse" action
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Arrange - Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Act - Check URL Lighthouse
        id: check-url-lighthouse
        uses: ./actions/check/url-lighthouse
        with:
          url: "https://hoverkraft.cloud"

      - name: Assert - Check report summary output
        env:
          REPORT_SUMMARY: ${{ steps.check-url-lighthouse.outputs.report-summary }}
        run: |
          if [ -z "$REPORT_SUMMARY" ]; then
            echo "The report summary is empty."
            exit 1
          fi

          echo "Report Summary:"
          echo -e "$REPORT_SUMMARY"

          if [[ "$REPORT_SUMMARY" != *"performance"* ]]; then
            echo "The report summary does not contain 'performance'."
            exit 1
          fi
