name: Internal - Tests for "deploy/argocd-manifest-files" action

on:
  workflow_call:

permissions: {}

jobs:
  tests:
    name: Tests for deploy/argocd-manifest-files action
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      TEST_APPLICATION_TEMPLATE_FILE: tests/argocd-app-of-apps/ci/apps/ci-test/test-app/template.yml.tpl
      TEST_APPLICATION_FILE: tests/argocd-app-of-apps/ci/apps/ci-test/test-app/test-app.yml
      TEST_EXPECTED_APPLICATION_FILE: tests/argocd-app-of-apps/ci/apps/ci-test/test-app/expected.yml

      TEST_MANIFEST_TEMPLATE_FILE: tests/argocd-app-of-apps/ci/manifests/ci-test/test-app/template.yml.tpl
      TEST_MANIFEST_FILE: tests/argocd-app-of-apps/ci/manifests/ci-test/test-app/test-app.yml
      TEST_EXPECTED_MANIFEST_FILE: tests/argocd-app-of-apps/ci/manifests/ci-test/test-app/expected.yml
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Arrange - Create test manifest files
        run: |
          cp "$TEST_APPLICATION_TEMPLATE_FILE" "$TEST_APPLICATION_FILE"
          cp "$TEST_MANIFEST_TEMPLATE_FILE" "$TEST_MANIFEST_FILE"

      - name: Act - Deploy Argocd Application Manifest
        id: argocd-application-manifest
        uses: ./actions/deploy/argocd-manifest-files
        with:
          deployment-id: 999
          application-file: $TEST_APPLICATION_FILE
          application-repository: test-app
          manifest-file: $TEST_MANIFEST_FILE
          namespace: test-app-pr-100
          chart-name: test-app
          chart-repository: ghcr.io/my-org/test-app/charts
          chart-version: 1.0.0-rc.0-pr-100-abac0800
          chart-values: |
            [
              { "path": ".ingress.hosts[0].host", "value": "https://pr-100-test-app.my-org.com" }
            ]

      - name: Assert - Check generated files are valid YAML
        uses: mikefarah/yq@0ecdce24e83f0fa127940334be98c86b07b0c488 # v4.48.1
        with:
          cmd: |
            echo "Check application file"
            yq "$TEST_APPLICATION_FILE" >/dev/null

            echo "Check extra manifest file"
            yq "$TEST_MANIFEST_FILE" >/dev/null

      - name: Assert - Check generated files are as expected
        run: |
          echo "Check application file"
          diff -u "$TEST_EXPECTED_APPLICATION_FILE" "$TEST_APPLICATION_FILE"

          echo "Check manifest file"
          diff -u "$TEST_EXPECTED_MANIFEST_FILE" "$TEST_MANIFEST_FILE"
