# Reusable workflow that clean a deployment in an ArgoCD App Of Apps Pattern context.
# See https://argo-cd.readthedocs.io/en/stable/operator-manual/cluster-bootstrapping/#app-of-apps-pattern.
# This workflow is triggered by a repository dispatch event.
# See https://docs.github.com/en/actions/reference/events-that-trigger-workflows#repository_dispatch.
# Payload:
#
# ```json
# {
#   "event_type": "clean-deploy",
#   "client_payload": {
#     "repository": "repository name (e.g. my-repository)",
#     "environment": "environment name (e.g. production, review-apps:pr-1234)"
#   }
# }
# ```
---
name: Clean Deploy - ArgoCD App Of Apps

on:
  workflow_call:
    inputs:
      runs-on:
        description: |
          JSON array of runner(s) to use.
          See https://docs.github.com/en/actions/using-jobs/choosing-the-runner-for-a-job.
        type: string
        default: '["ubuntu-latest"]'
        required: false
      github-app-id:
        description: |
          GitHub App ID to generate GitHub token in place of github-token.
          See https://github.com/actions/create-github-app-token.
        required: false
        type: string
    secrets:
      github-token:
        description: |
          GitHub token for creating and merging pull request (permissions contents: write and pull-requests: write, workflows: write).
          See https://github.com/hoverkraft-tech/ci-github-common/blob/main/actions/create-and-merge-pull-request/README.md.
      github-app-key:
        description: |
          GitHub App private key to generate GitHub token in place of github-token.
          See https://github.com/actions/create-github-app-token.

permissions: {}

jobs:
  deploy-files-to-clean:
    runs-on: ${{ fromJson(inputs.runs-on) }}
    permissions:
      contents: read
      pull-requests: write
      id-token: write # Needed for getting local workflow actions
    steps:
      - id: check-client-payload
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            const environment = ${{ toJSON(github.event.client_payload.environment) }};
            if (!environment) {
              core.setFailed("Environment is not defined in the client payload");
              return;
            }
            core.setOutput("environment", environment);

            const repository = ${{ toJSON(github.event.client_payload.repository) }};
            if (!repository) {
              core.setFailed("Repository is not defined in the client payload");
              return;
            }
            core.setOutput("repository", repository);

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - id: local-workflow-actions
        uses: hoverkraft-tech/ci-github-common/actions/local-workflow-actions@f5847cb398fe65d53794e6aba98ebdfa0801f691 # 0.32.0
        with:
          actions-path: actions

      - id: get-manifest-files
        uses: ./self-workflow/actions/argocd/get-manifest-files
        with:
          environment: ${{ steps.check-client-payload.outputs.environment }}
          repository: ${{ steps.check-client-payload.outputs.repository }}

      - id: remove-files
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            const fs = require("node:fs");

            let hasChanges = false;

            const applicationFile = ${{ toJSON(steps.get-manifest-files.outputs.application-file) }};
            if (fs.existsSync(applicationFile)) {
              fs.unlinkSync(applicationFile);
              hasChanges = true;
            }

            const manifestFile = ${{ toJSON(steps.get-manifest-files.outputs.manifest-file) }};
            if (fs.existsSync(manifestFile)) {
              fs.unlinkSync(manifestFile);
              hasChanges = true;
            }

            core.setOutput("has-changes", hasChanges);

      # jscpd:ignore-start
      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        if: ${{ steps.remove-files.outputs.has-changes == 'true' && inputs.github-app-id }}
        id: generate-token
        with:
          app-id: ${{ inputs.github-app-id }}
          private-key: ${{ secrets.github-app-key }}
      # jscpd:ignore-end

      - uses: hoverkraft-tech/ci-github-common/actions/create-and-merge-pull-request@f5847cb398fe65d53794e6aba98ebdfa0801f691 # 0.32.0
        if: steps.remove-files.outputs.has-changes == 'true'
        with:
          github-token: ${{ steps.generate-token.outputs.token || secrets.github-token || github.token }}
          branch: chore/clean-review-apps-${{ github.event.client_payload.repository }}
          title: "feat(${{ github.event.client_payload.repository }}): clean review apps"
          body: Clean review apps of ${{ github.event.client_payload.repository }}
          commit-message: |
            feat(${{ github.event.client_payload.repository }}): clean review apps

            [skip ci]

      # jscpd:ignore-start
      - uses: hoverkraft-tech/ci-github-common/actions/local-workflow-actions@f5847cb398fe65d53794e6aba98ebdfa0801f691 # 0.32.0
        if: always() && steps.local-workflow-actions.outputs.repository
        with:
          actions-path: actions
          repository: ${{ steps.local-workflow-actions.outputs.repository }}
          ref: ${{ steps.local-workflow-actions.outputs.ref }}
      # jscpd:ignore-end
