# Reusable workflow that performs the end of a deployment.
#
# What this workflow does:
#
# - If the deployment exposes a URL, run [deploy checks](./deploy-checks.md):
# - Update the GitHub deployment status (success or failure).
# - Publish a human-readable deployment summary using the deploy/report action.
#   See [report](../../actions/deploy/report/README.md).
#   - Lighthouse report URL if available.
#   - Extra information if provided.

---
name: Deploy - Finish

on:
  workflow_call:
    inputs:
      runs-on:
        description: |
          JSON array of runner(s) to use.
          See https://docs.github.com/en/actions/using-jobs/choosing-the-runner-for-a-job.
        type: string
        default: '["ubuntu-latest"]'
        required: false
      deployment-id:
        description: |
          Deployment ID to use for the deployment.
          See https://docs.github.com/en/rest/deployments/deployments?apiVersion=2022-11-28#list-deployments.
        type: string
        required: true
      budget-path:
        description: |
          Path to the budget file to use for the Lighthouse check.
          See [`url-lighthouse`](../../actions/check/url-lighthouse/README.md).
        type: string
        required: false
        default: "./budget.json"
      extra:
        description: |
          Extra information to send to the deployment summary.
          Should be a JSON object.
        type: string
        required: false

permissions: {}

jobs:
  get-finished-deployment:
    name: Get finished deployment
    runs-on: ${{ fromJson(inputs.runs-on) }}
    permissions:
      actions: read
      id-token: write # Needed for getting local workflow actions
      deployments: read
    outputs:
      url: ${{ steps.get-finished-deployment.outputs.url }}
      environment: ${{ steps.get-finished-deployment.outputs.environment }}
    steps:
      - id: local-workflow-actions
        uses: hoverkraft-tech/ci-github-common/actions/local-workflow-actions@f5847cb398fe65d53794e6aba98ebdfa0801f691 # 0.32.0
        with:
          actions-path: actions

      - id: get-workflow-failure
        if: ${{ inputs.deployment-id }}
        uses: ./self-workflow/actions/workflow/get-workflow-failure
        with:
          github-token: ${{ secrets.github-token || github.token }}

      - id: get-finished-deployment
        if: ${{ inputs.deployment-id && steps.get-workflow-failure.outputs.has-failed != 'true' }}
        uses: ./self-workflow/actions/deployment/get-finished
        with:
          deployment-id: ${{ inputs.deployment-id }}

      # jscpd:ignore-start
      - uses: hoverkraft-tech/ci-github-common/actions/local-workflow-actions@f5847cb398fe65d53794e6aba98ebdfa0801f691 # 0.32.0
        if: always() && steps.local-workflow-actions.outputs.repository
        with:
          actions-path: actions
          repository: ${{ steps.local-workflow-actions.outputs.repository }}
          ref: ${{ steps.local-workflow-actions.outputs.ref }}
      # jscpd:ignore-end

  deploy-checks:
    name: Deploy checks
    needs: get-finished-deployment
    if: ${{ needs.get-finished-deployment.outputs.url }}
    uses: ./.github/workflows/deploy-checks.yml
    permissions:
      contents: read
      id-token: write # Needed for getting local workflow actions
    with:
      runs-on: ${{ inputs.runs-on }}
      url: ${{ needs.get-finished-deployment.outputs.url }}
      budget-path: ${{ inputs.budget-path }}
      print-summary: false

  deploy-result:
    name: Deploy result
    if: always()
    needs: [get-finished-deployment, deploy-checks]
    runs-on: ${{ fromJson(inputs.runs-on) }}
    permissions:
      actions: read
      deployments: write
      id-token: write # Needed for getting local workflow actions
      issues: write
      pull-requests: write
    steps:
      - id: get-extra
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        env:
          INPUT_EXTRA: ${{ inputs.extra }}
          SUMMARY_OUTPUT: ${{ toJson(needs.deploy-checks.outputs.summary) }}
        with:
          script: |
            const extraInput = process.env.INPUT_EXTRA.trim();
            let extra = null;
            if (extraInput) {
              // Check if is valid JSON
              try {
                extra = JSON.parse(extraInput);
              } catch (error) {
                return core.setFailed(`"extra" input is not a valid JSON: ${error}`);
              }

              if (!extra || typeof extra !== 'object') {
                return core.setFailed(`"extra" input is not a valid JSON object.`);
              }
            }

            const deployChecksSummaryOutput = process.env.SUMMARY_OUTPUT.trim();
            let deployChecksSummary = null;
            if (deployChecksSummaryOutput) {
              try {
                deployChecksSummary = JSON.parse(deployChecksSummaryOutput);
              } catch (error) {
                return core.setFailed(`"deploy-checks" job summary output is not a valid JSON: ${error}`);
              }
            }

            if (deployChecksSummary) {
              // jscpd:ignore-start
              const toSentence = (str) => {
                return str
                  .replace(/([A-Z])/g, ' $1') // Insert space before capital letters                  
                  .replace(/-([a-z])/gi, (match, letter) => ` ${letter.toUpperCase()}`) // Replace hyphens with spaces and Uppercase next letter
                  .replace(/^./, function(char) { return char.toUpperCase(); }) // Capitalize the first letter
                  .trim();
              };
              // jscpd:ignore-end

              extra = extra || {};
              for(const [key, value] of Object.entries(deployChecksSummary["reportSummary"] || {})) {
                const value = {};
                for(const [metricKey, metricValue] of Object.entries(value)) {
                  value[toSentence(metricKey)] = metricValue;
                }

                extra[toSentence(key)] = value;
              }
            }

            return core.setOutput("extra", JSON.stringify(extra));

      - id: local-workflow-actions
        uses: hoverkraft-tech/ci-github-common/actions/local-workflow-actions@f5847cb398fe65d53794e6aba98ebdfa0801f691 # 0.32.0
        with:
          actions-path: actions

      - uses: ./self-workflow/actions/deploy/report
        with:
          deployment-id: ${{ inputs.deployment-id }}
          environment: ${{ needs.get-finished-deployment.outputs.environment }}
          url: ${{ needs.get-finished-deployment.outputs.url }}
          extra: ${{ steps.get-extra.outputs.extra }}
          github-token: ${{ secrets.github-token || github.token }}

      # jscpd:ignore-start
      - uses: hoverkraft-tech/ci-github-common/actions/local-workflow-actions@f5847cb398fe65d53794e6aba98ebdfa0801f691 # 0.32.0
        if: always() && steps.local-workflow-actions.outputs.repository
        with:
          actions-path: actions
          repository: ${{ steps.local-workflow-actions.outputs.repository }}
          ref: ${{ steps.local-workflow-actions.outputs.ref }}
      # jscpd:ignore-end
