# Reusable workflow that performs release preparation tasks:
#
# - Add proper labels to pull requests
# - Ensure release configuration is up to date

name: Prepare release

on:
  workflow_call:
    inputs:
      runs-on:
        description: |
          JSON array of runner(s) to use.
          See https://docs.github.com/en/actions/using-jobs/choosing-the-runner-for-a-job.
        type: string
        default: '["ubuntu-latest"]'
        required: false
      github-app-id:
        description: |
          GitHub App ID to generate GitHub token in place of github-token.
          See https://github.com/actions/create-github-app-token.
        required: false
        type: string
    secrets:
      github-token:
        description: |
          GitHub token with permissions `contents: write`, `pull-requests: write`.
      github-app-key:
        description: |
          GitHub App private key to generate GitHub token in place of github-token.
          See https://github.com/actions/create-github-app-token.

permissions:
  contents: read
  pull-requests: write

jobs:
  pull-request-labeler:
    runs-on: ${{ fromJson(inputs.runs-on) }}
    if: ${{ github.event_name == 'pull_request' }}
    steps:
      - uses: release-drafter/release-drafter@b1476f6e6eb133afa41ed8589daba6dc69b4d3f5 # v6.1.0
        env:
          GITHUB_TOKEN: ${{ secrets.github-token || github.token }}
        with:
          disable-releaser: true

  release-configuration:
    if: github.event_name == 'push' && github.ref_name == github.event.repository.default_branch
    runs-on: ${{ fromJson(inputs.runs-on) }}
    env:
      CONFIG_PATH: .github/release-drafter.yml
    steps:
      - id: get-config
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            const configPath = process.env.CONFIG_PATH;

            const config = `---
            template: |
              # What's Changed
              \$CHANGES
              **Full Changelog**: https://github.com/\$OWNER/\$REPOSITORY/compare/\$PREVIOUS_TAG...\$RESOLVED_VERSION
            name-template: "Version \$RESOLVED_VERSION"
            tag-template: "\$RESOLVED_VERSION"
            prerelease-identifier: "rc"
            version-resolver:
              major:
                labels:
                  - "release-major"
              minor:
                labels:
                  - "release-minor"
              patch:
                labels:
                  - "release-patch"
              default: patch
            autolabeler:
              - label: "release-major"
                title:
                  - "/^BREAKING CHANGE:/"
              - label: "release-minor"
                title:
                  - "/^feat:/"
                  - "/^feat\\\\(.+\\\\):/"
            `;

            // Get the config file from the repository
            try {
              const { data: { content } } = await github.rest.repos.getContent({
                owner: context.repo.owner,
                repo: context.repo.repo,
                path: configPath,
              });

              const decodedContent = Buffer.from(content, 'base64').toString('utf-8');
              if (decodedContent === config) {
                core.info('No changes to the release configuration file.');
                return null;
              }
            } catch (error) {
              if (error.status !== 404) {
                throw error;
              }
            }

            core.setOutput('config', config);

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        if: steps.get-config.outputs.config
        with:
          ref: refs/heads/${{ github.event.repository.default_branch }}
          sparse-checkout: ${{ env.CONFIG_PATH }}

      - uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        if: steps.get-config.outputs.config
        with:
          script: |
            const fs = require('node:fs');
            const configContent = ${{ toJSON(steps.get-config.outputs.config) }};
            const configPath = process.env.CONFIG_PATH;
            fs.writeFileSync(configPath, configContent, 'utf8');

      - uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        if: ${{ steps.get-config.outputs.config && inputs.github-app-id }}
        id: generate-token
        with:
          app-id: ${{ inputs.github-app-id }}
          private-key: ${{ secrets.github-app-key }}

      - uses: hoverkraft-tech/ci-github-common/actions/create-and-merge-pull-request@5f11437c716059f30c635f90055060e4ef8b31a0 # 0.28.0
        if: steps.get-config.outputs.config
        with:
          github-token: ${{ steps.generate-token.outputs.token || secrets.github-token || github.token }}
          branch: ci/prepare-release-config
          title: "ci: prepare release configuration"
          body: "Prepare release configuration"
          commit-message: |
            ci: prepare release configuration

            [skip ci]
