# Reusable release workflow
# This workflow delegates release tasks by reusing a shared release workflow, ensuring standardized publishing across projects.
---
name: Release

on:
  workflow_dispatch:
    inputs:
      #checkov:skip=CKV_GHA_7: required
      runs-on:
        description: |
          JSON array of runner(s) to use.
          See https://docs.github.com/en/actions/using-jobs/choosing-the-runner-for-a-job.
        type: string
        default: '["ubuntu-latest"]'
        required: false
      prerelease:
        description: |
          Whether to mark the release as a prerelease
          See ../../actions/release/create/README.md for more information.
        type: boolean
        default: false
        required: false

permissions: {}

jobs:
  release:
    name: Release
    runs-on: ${{ fromJson(inputs.runs-on) }}
    permissions:
      contents: write
      id-token: write # Needed for getting local workflow actions
    outputs:
      tag: ${{ steps.create-release.outputs.tag }}
    steps:
      - id: local-workflow-actions
        uses: hoverkraft-tech/ci-github-common/actions/local-workflow-actions@a8d9ca49a0e025238acd97ee3c5014f4d6525bc3 # 0.31.5
        with:
          actions-path: actions

      - id: create-release
        uses: ./self-workflow/actions/release/create
        with:
          prerelease: ${{ inputs.prerelease }}

      # jscpd:ignore-start
      - uses: hoverkraft-tech/ci-github-common/actions/local-workflow-actions@a8d9ca49a0e025238acd97ee3c5014f4d6525bc3 # 0.31.5
        if: always() && steps.local-workflow-actions.outputs.repository
        with:
          actions-path: actions
          repository: ${{ steps.local-workflow-actions.outputs.repository }}
          ref: ${{ steps.local-workflow-actions.outputs.ref }}
      # jscpd:ignore-end
